<div class="cards">

    <% _.each(cards, function (card) { console.log(card) %>
    <div class="card col-12 col-sm-12" onclick="window.location='/<%= sails.config.collection.path %>/card/<%= card.id %>'">
        <div class="thumb pull-left">
            <% if (card.images.length > 0) { %>
            <div class="image" style="background: transparent url('/image/resize?imageName=<%= card.images[0].name.replace(".","-resized-150px.") %>') no-repeat center center">
                <!--<img width=150 src="/images/insects/illustrations/<%= card.name_scientific.replace(' ','_') %>.jpg" />-->
            </div>
            <% } %>
        </div>

        <div class="col-6 col-sm-6 pull-left">
            <!-- Primary Language -->
            <h3><%=eval("card.name_"+req.session.primaryLanguage.name)%></h3>

            <!-- Other languages -->
          <% _.each(sails.config.languages, function (language) {
                if (language.short != req.session.primaryLanguage.short) {
          %>
            <h4><%=language.label%>: <em><%=eval("card.name_"+language.name)%></em></h4>
          <%
            }
          }) %>
        </div>

        <% if (req.session.user) { %>
        <div class="actions">
                    <a href="/<%= sails.config.collection.path %>/card/edit/<%= card.id %>" class="button">
                        <button class="btn btn-default btn-sm"><span class="pull-left glyphicon glyphicon-edit"></span><span class="pull-left hidden-xs hidden-sm">Edit</span></button>
                    </a>
                    <a href="/<%= sails.config.collection.path %>/card/destroy/<%= card.id %>" class="button">
                        <button class="btn btn-danger btn-sm"><span class="pull-left glyphicon glyphicon-trash"></span><span class="pull-left hidden-xs hidden-sm">Delete</span></button>
                    </a>
        </div>
        <% } %>

        <div class="clearfix"></div>
    </div>
    <% }) %>

</div><!--/cards-->

